RUST_LOG=trace

#DB Setup every binary project will need this since it's how the job queue works
DB_USER=postgres
DB_PASSWORD=supersecurepassword123987
DB_NAME=moover
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}"

#A bit awkward, but this is how the front end assets are served for now
VITE_DIST={full path localtion to web/ui-code/dist}
PUBLIC_ASSETS={full path localtion to /web/public}
#Used for the com.pdsmoover.admin.* endpoints
#If not set it does not register those endpoints
#ADMIN_PASSWORD=STEAL_THIS_RECORD

#atproto stuff
#This is your domain the app is running on
EXTERNAL_DOMAIN=pdsmoover.com
SERVICE_KEY={goat key generate}

#Dev or local hosting. Minio can run a S3 store locally
MINIO_ROOT_USER=bob
MINIO_ROOT_PASSWORD=supersecurepassword123987
MINIO_DEFAULT_BUCKETS=backups


#S3 values for the backup locations
S3_ENDPOINT=
S3_BUCKET_NAME=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=


#Workers
# Each worker's node should have a different name.
# This is an id for the over all worker, each indiviual worker/queue will append onto this
WORKER_NODE_NAME=dev
