# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Dependencies
node_modules/

# Build outputs
dist/
build/

# IDE
.idea/
.vscode/

# Watchman
.watchman-cookie-*

# Embedded repos (submodules)
identity-manager/zkp/circomlib/
