{% extends "base.html" %} {% block head_title %}PARA{% endblock %} {% block
html_head_extra -%}
<meta property="og:title" content="PARA" />
<meta name="twitter:title" content="PARA" />

<meta
  name="description"
  content="Civic social infrastructure for communities, governance, and public participation." />
<meta
  name="og:description"
  content="Civic social infrastructure for communities, governance, and public participation." />
<meta
  name="twitter:description"
  content="Civic social infrastructure for communities, governance, and public participation." />

<meta property="og:url" content="https://paramx.social" />
<meta name="twitter:url" content="https://paramx.social" />
<link rel="canonical" href="https://paramx.social" />

<meta property="og:image" content="https://paramx.social/static/logo.png" />
<meta
  property="twitter:image"
  content="https://paramx.social/static/logo.png" />

<meta name="twitter:card" content="summary_large_image" />
{%- endblock %} {% block noscript_extra %}
<p>This is the home page. {% endblock %}</p>
