[defaults]
inventory = inventory/production.yml
remote_user = root
private_key_file = ~/.ssh/para_prod
host_key_checking = False
retry_files_enabled = False
forks = 10

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
