{%- import "partials/cow-header.askama.html" as cow -%}

{% extends "layout.askama.html" %}

{% block meta %}
    <meta property="og:description" content="Restore your ATProto account using a rotation key"/>
{% endblock %}

{% block content %}

<script>
    document.addEventListener('alpine:init', () => {
        window.Alpine.data('restore', () => ({
            // form inputs
            // currentHandle: 'huh2.skeetcentral.com',
            // rotationKey: 'z3vLd2mC4YTGHk1y7G5YULyN4uBeF4ChAabfxLZmMW15Yek8',
            // newPds: 'https://skeetcentral.com',
            // newHandle: 'huh2.skeetcentral.com',
            // newPassword: 'QnphLx51YWNCd1bneHFqLXik',
            // newEmail: 'huh2@Huh.com',
            currentHandle: '',
            rotationKey: '',
            newPds: '',
            newHandle: '',
            newPassword: '',
            newEmail: '',
            inviteCode: null, // optional
            cid: null, // optional advanced

            // advanced options
            restoreOnlyFilesFromBackup: false,

            // ui state
            error: null,
            showStatusMessage: false,
            showAdvanced: false,
            done: false,
            setStatus(message){
                const status = document.getElementById('status-message');
                status.innerText = message;
                this.showStatusMessage = true;
            },
            async handleSubmit(){
                this.error = null;
                this.showStatusMessage = true;
                try{
                    //If set to true only restores files from backup not plc ops
                    window.Restore.justRestoreFiles = this.restoreOnlyFilesFromBackup;
                    await window.Restore.recover(this.rotationKey, this.currentHandle, this.newPds, this.newHandle, this.newPassword, this.newEmail, this.inviteCode, this.cid, this.setStatus);
                    this.done = true;
                }catch(e){
                    this.error = e.message || 'An error occurred';
                }finally{
                    // keep status visible but allow multiple submits
                }
            }
        }))
    })
</script>

<div class="container" x-data="restore">

    {% call cow::cow_header("Restore") %}

    <div class="section">
        <p>
            Use this page to restore your AT Protocol account on a new PDS using your private rotation key. It's intended to be used in the worst case scenario, and not for normal account migrations.
            We do not need your password since your rotation key is what is used to recover your account. Once your account has been moved to a new PDS we will also attempt to restore your repo and blobs(pictures/videos) from our backups.
        </p>
    </div>

    <form x-show="!done" id="restore-form" @submit.prevent="await handleSubmit()">
        <div class="form-group">
                <label for="current-handle">Your current handle or did (found in the recovery rotation-key.txt)</label>
                <input id="current-handle" x-model="currentHandle" placeholder="Your current hande" required></input>
        </div>

        <div x-show="!restoreOnlyFilesFromBackup" class="form-group">
            <label for="rotationKey">Private Rotation Key</label>
            <input id="rotationKey" x-model="rotationKey" placeholder="a secp256k1 or p256 in either hex or multikey format" x-bind:required="!restoreOnlyFilesFromBackup"></input>
        </div>

        <div class="form-group">
            <label for="newPds">New PDS</label>
            <input id="newPds" type="text" x-model="newPds" placeholder="https://newpds.com" required />
        </div>

        <div class="form-group">
            <label for="newHandle">New Handle</label>
            <input id="newHandle" type="text" x-model="newHandle" placeholder="you.newpds.com or thisisme.com" required />
        </div>

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input id="newPassword" type="password" x-model="newPassword" required />
        </div>

        <div class="form-group">
            <label for="newEmail">New Email</label>
            <input id="newEmail" type="email" x-model="newEmail" placeholder="you@example.com" required />
        </div>

        <div class="form-group">
            <label for="inviteCode">Invite code (optional)</label>
            <input id="inviteCode" type="text" x-model="inviteCode" placeholder="Optional" />
        </div>

        <div class="form-group">
            <button type="button" @click="showAdvanced = !showAdvanced" x-text="showAdvanced ? 'Hide advanced options' : 'Show advanced options'"></button>
        </div>

        <div class="advanced-options" x-show="showAdvanced">
            <div class="form-group">
                <label class="moove-checkbox-label">
                    <input id="restoreOnlyFilesFromBackup" type="checkbox" x-model="restoreOnlyFilesFromBackup" />
                    Restore only files from backup, No PLC operations
                </label>
            </div>
            <div x-show="!restoreOnlyFilesFromBackup" class="form-group">
                <label for="cid">Cid (optional)</label>
                <input id="cid" type="text" x-model="cid" placeholder="Specific PLC audit log CID to restore to (advanced)" />
                <small class="help-text">Leave empty for normal restore. IF someone besides you changed your did doc and stolen your atproto identity you have up to 72hrs to reverse that change with a valid rotation key. This input allows you to restore to the last good PLC op via it's CID.</small>
            </div>
        </div>

        <div x-show="error" x-text="error" class="error-message"></div>
        <div x-show="showStatusMessage" id="status-message" class="status-message"></div>

        <div class="form-actions">
            <button type="submit">Recover and restore your account</button>
        </div>
    </form>

    <!-- Done -->
        <div x-show="done" class="section">
             <div class="status-message">Congratulations! You have successfully recovered your account! Remember to use
                             your new PDS URL under "Hosting provider" when logging in on Bluesky. Can find more detail information
                             <a href="/info#cant-login">here.</a>
             </div>

         <div>
        </div>
        </div>

</div>

{% endblock %}
