{% extends "layout.askama.html" %}

{% block meta %}
    <meta name="description" content="Terms of Service and Privacy Policy for PDS MOOver"/>
    <meta property="og:description" content="Terms of Service and Privacy Policy for PDS MOOver"/>
{% endblock %}

{% block content %}
<div class="container" style="text-align:left">
  <section class="section">

    <h1>Privacy Policy</h1>
    <p>Last updated: 2025-10-20</p>

    <h2>Overview</h2>
    <p>PDS MOOver performs migrations in your browser. Where possible, operations are client side to minimize collection of personal data by the server. Backups happen on our servers, and your data is stored in a cloud base object store we have access to</p>

    <h2>Information We May Receive</h2>
    <ul>
      <li>If you use optional features (e.g., backups), we take a backup of your AT Proto repo when it has a change, any blobs you have posted to your account are stored in a <a target="_blank" rel="noopener noreferrer"  href="https://en.wikipedia.org/wiki/Object_storage">object store</a> that we control. Just like your <a target="_blank" rel="noopener noreferrer"  href="https://blueskyweb.zendesk.com/hc/en-us/articles/15835264007693-Data-Privacy">AT Proto data</a> this is public and accessible to anyone. But this does not mean anyone is able to take this data and impersonate you without what is known as a Rotation Key.</li>
    </ul>

    <h2>What We Do Not Do</h2>
    <ul>
      <li>If you use PDS MOOver just for migrations, missing blobs, or turn off feature. We do not collect or store any information. This happens all client side.</li>
      <li>We do not collect any personal information beyond your current PDS host and your DID if you sign up for backups.</li>
      <li>Your passwords are only ever sent to your PDS. Your passwords are never collected, and all authenticated requests happen proxied via your PDS to our services for backups</li>
    </ul>

    <h2>Retention</h2>
    <p>Server-side logs may be retained for a limited time for security, debugging, and rate-limiting. This is short term logging and cleared on instance reboots and kept no longer than 60 days. Backup-related data, if enabled by you, is stored indefinitely for the life of this service unless you opt out via <a href="/backups">backups</a> and click delete to remove all of your backups and from any future ones.</p>

    <h2>Your Choices</h2>
    <p>You may choose not to use the service. If you proceed, ensure you have backups and understand the migration risks. If you ever want to be removed from our services you can also login via <a href="/backups">backups</a> and click delete to remove all of your backups and from any future ones.</p>

    <h2>Changes</h2>
    <p>We may update this Privacy Policy from time to time. Continued use after changes means you accept the updated policy.</p>

    <h2>Service Provider and Location</h2>
    <p>All backup data is currently being stored on <a href="https://upcloud.com/">UpCloud's</a> <a href="https://upcloud.com/products/object-storage/">object store</a> in a data center located in the US. UpCloud is also our service provider for the VPS running the services. We may change service providers in the future, if we do this terms of service will be updated to reflect that.</p>

  </section>

    <section class="section">
      <h1>Terms of Service</h1>
      <p>Last updated: 2025-10-20</p>

      <p>PDS MOOver is provided on an as-is and as-available basis, without warranties of any kind. By using this site and its tools, you agree that you understand the risks of migrating and or restoring ATProto/Bluesky accounts and that neither the creator nor the host of this tool is responsible for any loss, corruption, or unavailability of data, accounts, or services.</p>

      <h2>Acceptable Use</h2>
      <p>You agree not to misuse the service, disrupt other users, or attempt to gain unauthorized access to systems or data. You are responsible for complying with applicable laws and policies of your hosting provider(s).</p>

      <h2>Limitation of Liability</h2>
      <p>To the fullest extent permitted by law, the creator and host are not liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of data, profits, or revenues, whether incurred directly or indirectly, resulting from your use of the service.</p>

      <h2>Changes to the Service</h2>
      <p>Features may change, be limited, or be discontinued at any time without notice.</p>

      <h2>Backup User Content</h2>
       <p>In extreme circumstances we reserve the right to ban, block, and or remove your content placed on our servers if it is found to be illegal or harmful. We will notify you via Bluesky that you are being removed along with giving you an export of your backed-up data.</p>

      <h2>Contact</h2>
      <p>If you have questions about these terms, please reach out via the project repository or to <a href="https://bsky.app/profile/baileytownsend.dev">@baileytownsend.dev</a> directly.</p>
    </section>
</div>
{% endblock %}
